<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.wangyuming.wechat.dao.ImageWithItemMapper">
  <resultMap id="BaseResultMap" type="com.project.wangyuming.wechat.model.ImageWithItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="toUser" jdbcType="VARCHAR" property="touser" />
    <result column="fromUser" jdbcType="VARCHAR" property="fromuser" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="msgType" jdbcType="VARCHAR" property="msgtype" />
  </resultMap>
</mapper>